<div class="min-h-screen relative">
  <div class="background-container">
    <img src="assets/img-supermarket.png" alt="Background">
  </div>
  
  <app-header></app-header>
  
  <main class="main-content relative z-10">
    <section>
      <div class="form-sidebar-wrapper">
        <div class="list-card form-card">
          <h1 class="shopping-list-title">
            {{ 'shoppingList' | translate }}
          </h1>
          
          <app-product-form></app-product-form>
        </div>
        
        <div class="spiral-binding"></div>
        
        <app-product-list [showOnlySidebar]="true"></app-product-list>
      </div>
      
      <app-product-list [showOnlyTable]="true"></app-product-list>
    </section>
  </main>
  
  <app-history-modal></app-history-modal>
  <app-scanner-modal></app-scanner-modal>
</div>

